.clase-li {
    background-color: #057;
    color: #fff;
    padding: 10px 15px;
    margin: 10px 15px
}

.clase-css {
    background-color: rgb(77, 172, 209);
    padding: 10px 15px;
    margin: 10px 15px,
}